.App {
	text-align: center;
	box-sizing: border-box;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	display: flex;
	flex-direction: column;
}

.task-input {
	padding: 2rem 2rem 1rem 2rem;
	background-color: #282c34;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.task-input input {
	width: 60vw;
	padding: 1rem;
}

.task-input button {
	min-width: 10vh;
	margin-left: 2rem;
	padding: 1rem;
}

.list-item {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	border-bottom: 1px solid #9ba0aa42;
	padding: 1rem 0;
}

.list-item input,
.list-item button {
	margin: 0 2rem;
}

.done {
	text-decoration: line-through;
}

.search {
	padding: 0 2rem 1rem 2rem;
	background-color: #282c34;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.search button {
	margin: 0 1rem;
	background: none;
	border: 0.1rem solid white;
	border-radius: 0.6rem;
	background-color: white;
}
